$color: #e55454;

.cross__svg {
    border-radius: 50%;
    display: block;
    height: 100%;
    stroke-width: 4;
    width: 100%;
}

.cross__circle {
    animation: 1.6s ease 0s normal forwards 1 running stroke;
    fill: none;
    margin: 0 auto;
    stroke: $color;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 3;
}

.cross__path {
    stroke: $color;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;
    &--right {
      animation: 0.8s ease 1.3s normal forwards 1 running stroke;
    }
    &--left {
      animation: 1s ease 1.3s normal forwards 1 running stroke;
    }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
