
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "_variables";
@import "foundation-sites/scss/settings/settings";
@import "foundation";
@import "motion-ui/motion-ui";



.parallax-window {
    min-height: 500px;
    background: transparent;
    position: relative;
}


body {
    @include foundation-title-bar
    background: $bodyBackgroundColor;
    h1 {
        margin-bottom: 40px;
        margin-top: 30px;
    }
    ul, ol {
        li {
            text-align: initial;
        }
    }
    .white {
        color: $white;
    }

    .hidden {
        display: none;
    }
    .expand {
        cursor:pointer;
        float: right;
        margin-right: 10px;
        margin-top: -8px;
        background: #5b7632;
        border-radius: 5px;
        font-size: 1.4em;
        padding: 0.6rem;
    }
    .full-width {
        width: 100%;
    }
    .global-spacing {
        &.top {
            margin-top: 1rem;
        }
        &.right {
            margin-right: 1rem;
        }
        &.bottom {
            margin-bottom: 1rem;
        }
        &.left {
            margin-left: 1rem;
        }
    }
    .active {
        background: $navigationBackgroundItemActiveColor;
        color: #fff;
    }
    .nav {
        a {
            display: inline-block;
            border: 3px solid $navigationBackgroundItemActiveColor;
            padding: 15px;
            border-radius: 5px;
            font-size: 1.1rem;
            transition: all 500ms ease;
        }
    }
    .secondary-nav {
        a {
            display: inline-block;
            padding: 15px;
            font-size: 1.1rem;
            transition: all 500ms ease;
            color: $hintColor;
            &.active {
                color: $white;
            }
        }
    }
    .homepage-content {
        top: 100%;
        width:100%;
        position: absolute;
        h2, h3 {
            border-bottom-style: double;
            border-top-style: double;
            margin-top: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom-color: $pastilleGreen1;
            border-top-color: $pastilleGreen1;
            border-bottom-width: 5px;
            border-top-width: 5px;
            color: $white;
        }
    }

    .title-bar {
        transition: all 500ms ease;
        position: relative;
        z-index: 1;
    }

    .title-bar.not-top {
        background: $titleBarOffset;
    }

    .secondary-nav {
        background: white;
        height: 55px;
        position: relative;
        margin-top: -55px;
        transition: all 500ms ease;
    }

    .awesome, .fa {
        font-family: FontAwesome;
        &.double {
            font-size:2rem;
        }
        &.triple {
            font-size:3rem;
        }
    }

    #header-bar {
        &.homepage {
            position: fixed;
            width: 100%;
            z-index:1000;
        }
    }

    .header {
        .home-logo {
            a {
                display: block;
                margin-top: -25px;
                position: relative;
                margin-bottom: -25px;
            }
            img {
                width: 140px;
            }
        }
        .menu-icon {
            top:30%;
        }
    }

    .nav-links-row {
        position:relative;
        float: right;

        .nav-links {
            right: 0;
            top: 1rem;
            text-align: right;
            > * {
                float: right;
            }
            a {
                display: inline-block;
                margin-left: 2rem;
            }
        }
    }

    .breadcrumbs {
        a {
            color: $darkGrey;
        }
    }

    .icon-container {
        text-align: center;
        top: 200px;
        position: relative;
        height: 100%;
        color: #002F6F;
        .fa {
            font-size: 7rem;
        }
        &.primary {
            top:110px;
        }
    }

    .overlay {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba(0,0,0,0.8);
        text-align: center;
        .overlay-inner {
            position: relative;
            top: 25%;
        }
    }

    footer {
        background: #807c79;
        color: white;
        height: 115px;
        > div {
            position: relative;
            top: 45%;
        }
        a {
            color: white;
        }
    }

    .callout-inner {
        border: 1px solid rgba(10, 10, 10, 0.25);
    }
    .delete {
        .fa {
            font-size: 3rem;
            padding: 10px;
            margin-bottom: 1rem;
        }
        form {
            margin-top: -45px;
        }
    }

    .panes {
        .column {
            margin-bottom: 2rem;
        }

        .inner-column {
            border: 1px solid $pastilleGreen3;
            border-radius: 0;
            position: relative;
            transition: all 400ms ease;
            &.active-child {
                transform: scale(1.1,1.1);
                color: $textColorActive;
                .completeness {
                    background: $pastilleGreen1;
                }
            }
        }
        .title {
            background-color: $topLevelPaneHeaderBackgroundColor;
            text-align: center;
            padding:1rem;
            color: $white;
        }
        .completeness {
            background-color: $topLevelPaneBodyBackgroundColor;
            text-align: center;
            font-size:6rem;
            padding:1rem;
        }

        .listing-wrapper {
            padding:15px;
            background: $white;
        }
        .listing {
            counter-reset: li;
            margin-left: 0;
            padding-left: 0;
            padding:15px;
            background-color:$globalBackgroundColor;
            margin-bottom: 0;
            border: 1px solid rgba(10, 10, 10, 0.25);
        }

        .listing {
            > li {
                position: relative;
                margin: 0 0 6px 2em;
                padding: 4px 8px;
                list-style: none;
                border-bottom: 2px solid $globalBorderColor;
            }
            > li:last-child {
                border-bottom: none;
            }
        }

        .card {
            margin-top: 20px;
            margin-bottom: 20px;
            .objective-title {
                line-height: 1rem;
                a {
                    color: #000;
                }
            }
            .plan {
                color: $darkGrey;
            }
        }

        .maintenance-complete-form {
            float: right;
        }

        .maintenance-complete {
            background: transparent;
            border: none;
            font-size: 2.5rem;
            color: $hintColor;
            float: right;
        }

        .listing > li:before {
            content:counter(li);
            counter-increment:li;
            position:absolute;
            top:-2px;
            left: -2.3em;
            box-sizing:border-box;
            width:2em;
            margin-right:8px;
            padding: 4px;
            border: 2px solid $globalBorderColor;
            color: $numberColor;
            background: $white;
            font-weight:bold;
            text-align: center;
            border-radius:20px;
            top: 26%;
            width: 37px;
        }

        .alert {
            .fa {
                color: $darkGrey;
                float: right;
                font-size: 2.5em;
                margin-right: 3px;
            }
            &.overdue {
                .fa {
                    color: red;

                }
            }
        }


        .start {
            font-size: 2rem;
        }
        .end {
            display: none;
        }
        .complete {
            color: $complete;
        }
    }

    .posts {

        .portfolioFilter {
          margin-bottom: 15px;
        }

        .portfolioFilter a {
            margin-right: 10px;
        	color:#666;
        	text-decoration:none;
          transition: all 0.5s ease;
          font-size: 2rem;
        }

        .portfolioFilter a:link, a:visited {
          background-color: $pastilleGreen1;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }

        .portfolioFilter a:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
          background-color: $pastilleGreen3;
          color: $white;
        }


        .portfolioFilter a.current {
            font-weight:bold;
        }


        img {
            margin:5px;
        }

        .isotope-item {
            z-index: 2;
        }
        .isotope-hidden.isotope-item {
            pointer-events: none;
            z-index: 1;
        }
        .isotope,
        .isotope .isotope-item {
          /* change duration value to whatever you like */

            -webkit-transition-duration: 0.8s;
            -moz-transition-duration: 0.8s;
            transition-duration: 0.8s;
        }
        .isotope {
            -webkit-transition-property: height, width;
            -moz-transition-property: height, width;
            transition-property: height, width;
        }
        .isotope .isotope-item {
            -webkit-transition-property: -webkit-transform, opacity;
            -moz-transition-property: -moz-transform, opacity;
            transition-property: transform, opacity;
        }

        .columns {
            background: $pastilleGreen3;
            padding: 0;
        }

        .post-inner {
            padding: 15px;
        }

        .post-inner h3 {
            color: white;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid $pastilleGreen3;
        }


        .listing {
            list-style-type: none;
            margin-left: 0;
        }
        .post {
            .post-inner {
                background: $postBackgroundColor;
                padding: 15px;
            }
        }
    }
}








.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);



  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.5);

  .hi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    color: $white;

    font-size: 3rem;
    text-align: center;


    em {
      font-style: normal;

      &.hidden {
        display: none;
      }
    }
  }
}

.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  overflow: hidden;

  .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    margin: auto;

    opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
    }
  }
}

.follow-search {
  #find-user {
    margin-bottom: 2px;
  }
  form {
    position: relative;
  }
  ul {
    position: absolute;
    list-style-type: none;
    background: white;
    color: grey;
    margin-left: 0;
    width: 100%;
    padding: 10px;
    li {
      cursor: pointer;
    }
  }
}
